In [1]:
import os
os.chdir(os.path.dirname(os.getcwd()))

In [2]:
from helpers import *
import torch
import json

In [3]:
# Model
# model = torch.hub.load('ultralytics/yolov5', 'yolov5m')  # or yolov5m, yolov5l, yolov5x, custom
# model = torch.load('yolov5m.pt')
model = torch.hub.load('ultralytics/yolov5', 'custom', path='object_detection/yolov5_models/yolov5m.pt')

# Images
img = 'https://ultralytics.com/images/zidane.jpg'  # or file, Path, PIL, OpenCV, numpy, list

# Inference
results = model(img)

Using cache found in /home/ntnhu/.cache/torch/hub/ultralytics_yolov5_master
YOLOv5 ðŸš€ 2021-12-15 torch 1.9.1 CUDA:0 (GeForce RTX 3080 Ti, 12054MiB)

Fusing layers...
Model Summary: 290 layers, 21172173 parameters, 0 gradients
Adding AutoShape...

In [4]:
results.pandas().xyxy[0]

          xmin        ymin         xmax        ymax  confidence  class    name
0   126.547394  197.141632  1143.490234  712.563477    0.857716      0  person
1   751.022095   43.456665  1131.118408  708.770752    0.785549      0  person
2   435.182251  435.544922   522.218811  718.979126    0.733487     27     tie
3  1103.674683  395.215576  1279.656128  713.860718    0.363860      0  person
4   983.109863  302.117584  1135.629150  707.364380    0.265507     27     tie

In [5]:
temp = results.pandas().xyxy[0]
save_df_to_json(temp, 'temp_2.json')

In [7]:
with open('temp_2.json', 'r') as handle:
    text_data = handle.read()
    text_data = '[' + re.sub(r'\}\s\{', '},{', text_data) + ']'
    json_data = json.loads(text_data)
    data = json_data[0]

In [8]:
data

[{'xmin': 126.5473937988,
  'ymin': 197.1416320801,
  'xmax': 1143.490234375,
  'ymax': 712.5634765625,
  'confidence': 0.8577162027,
  'class': 0,
  'name': 'person'},
 {'xmin': 751.0220947266,
  'ymin': 43.4566650391,
  'xmax': 1131.1184082031,
  'ymax': 708.7707519531,
  'confidence': 0.7855492234,
  'class': 0,
  'name': 'person'},
 {'xmin': 435.1822509766,
  'ymin': 435.544921875,
  'xmax': 522.2188110352,
  'ymax': 718.9791259766,
  'confidence': 0.7334873676,
  'class': 27,
  'name': 'tie'},
 {'xmin': 1103.6746826172,
  'ymin': 395.2155761719,
  'xmax': 1279.6561279297,
  'ymax': 713.8607177734,
  'confidence': 0.3638602495,
  'class': 0,
  'name': 'person'},
 {'xmin': 983.1098632812,
  'ymin': 302.1175842285,
  'xmax': 1135.6291503906,
  'ymax': 707.3643798828,
  'confidence': 0.2655066848,
  'class': 27,
  'name': 'tie'}]